@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  width: 100%;
  padding: 2rem;
  overflow: hidden;
  cursor: none;
}

.menu {
  position: fixed;
  z-index: 1000;
  width: 150px;
  background: #1b1a1a;
  border-radius: 5px;
  display: none;
  list-style: none;
}

.menu.open {
  display: block;
}

.menu .menu-item {
  padding: 8px 10px;
  font-size: 1rem;
  color: #eee;
  transition: background-color 0.2s ease-in;
  border-radius: inherit;
}

.menu .menu-item:hover {
  background: #343434;
}

.random-shape {
  animation: scaling 2s ease-in;
  opacity: 0;
}

@keyframes scaling {
  0% {
    opacity: 1;
    transform: scale(1) rotateZ(5deg);
  }
  100% {
    opacity: 0;
    transform: scale(1.1) rotateZ(0);
  }
}

.custom-message {
  text-align: center;
  padding: 15px 70px 15px 0;
  color: #fff;
  width: 96vw;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  border: 3px solid #ffffff;
  border-radius: 20px;
  position: absolute;
  bottom: 4%;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.2s all ease-in;
}

.custom-message:hover{
  transform: translateX(-50%) translateY(2px);
}

.custom-message-active {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

.custom-message-disabled {
  opacity: 0;
  transform: translateX(-50%) translateY(200px);
}

.message-close-button {
  width: 30px;
  height: 30px;
  position: absolute;
  display: block;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  cursor: none;
}

.message-close-button::after {
  content: "";
  background-color: #fff;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%) rotateZ(45deg);
  width: 33px;
  height: 5px;
}

.message-close-button::before {
  content: "";
  background-color: #fff;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%) rotateZ(-45deg);
  width: 33px;
  height: 5px;
}

.custom-message-text {
  font-size: 30px;
  font-weight: 700;
}

.cursor {
  width: 40px;
  height: 40px;
  border: 3px solid black;
  border-radius: 50%;
  position: absolute;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  animation: cursorAnim .5s infinite alternate;
  pointer-events: none;
  z-index: 9999;
}

.cursor::after {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  border: 12px solid gray;
  border-radius: 50%;
  opacity: .5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: cursorAnim2 .5s infinite alternate;
}

.cursor::before {
  content: "";
  width: 5px;
  height: 5px;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
}

@keyframes cursorAnim {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(.7);
  }
}

@keyframes cursorAnim2 {
  from {
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    transform: translate(-50%, -50%) scale(.6);
  }
}

@keyframes cursorAnim3 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.expand {
  animation: cursorAnim3 .5s forwards;
  border: 1px solid #000000;
}

.weather {
  background: linear-gradient(45deg, #ff3ce9, #4d94ff);
  padding: 10px;
  color: #fff;
  width: 250px;
  height: 220px;
  text-align: center;
  border-radius: 20px;
  margin-bottom: 10px;
  border: 1px solid white;
  box-shadow: 3px 3px 10px #868686;
}

.timer-container {
  background: linear-gradient(to bottom right, teal, darkgreen);
  padding: 10px;
  color: white;
  width: 310px;
  height: 80px;
  text-align: center;
  border: 3px solid #fafafa;
  border-radius: 20px;
  margin-bottom: 10px;
}

/* Voice Assistant ///////////////////////////////////////////////////////////////////////////////////////////////////// */

.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.upper-container{
  padding: 30px;
  background-color: #eee;
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 3px 3px 10px #c5c5c5;
  margin-bottom: 10px;
}

.speech-close-button{
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  bottom: -55px;
  left: 50%;
  transform: translateX(-50%);
  transition: .2s all;
  box-shadow: 3px 3px 10px #c5c5c5;
}

.speech-close-button:hover{
  box-shadow: 1px 1px 10px #c5c5c5;
  transform: translateX(-50%) scale(0.97);
}

.speech-close-button::before{
  content: "";
  width: 20px;
  height: 2px;
  background-color: #757575;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(45deg);
}

.speech-close-button::after{
  content: "";
  width: 20px;
  height: 2px;
  background-color: #757575;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(-45deg);
}

.info-container{
  border: 1px solid white;
  border-radius: 10px;
  background-color: #eee;
  padding: 30px;
  box-shadow: 3px 3px 10px #c5c5c5;
}

.speech-text{
  margin-right: 100px;
  font-size: 30px;
}

.audio-wrapper{
  display: flex;
  align-items: center;
  gap: 30px;
}

.speech-button{
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid white;
  cursor: none;
  transition: .2s all;
  box-shadow: 3px 3px 10px #c5c5c5;
}

.speech-button:hover{
  box-shadow: 1px 1px 10px #c5c5c5;
  transform: scale(0.97);
}

.waves-wrapper{
  position: relative;
  display: flex;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.waves-mark{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  opacity: 0;
}

.waves-mark-correct{
  animation: correctCommand 1s;
}

.waves-mark-wrong{
  animation: wrongCommand 1s;
}

.first {
  width: 8px;
  height: 8px;
  background-color: black;
  margin-right: 10px;
  animation: waves 2s infinite alternate ease-in;
  animation-play-state: paused;
}

.active{
  animation-play-state: running;
}

.first-2{
  animation-delay: 0.5s;
}
.first-3{
  animation-delay: 1s;
}
.first-4{
  animation-delay: 1.5s;
}
.first-5{
  animation-delay: 2s;
}
.first-6{
  animation-delay: 2.5s;
}
.first-7{
  animation-delay: 3s;
}
.first-8{
  animation-delay: 3.5s;
}
.first-9{
  animation-delay: 4s;
}
.first-10{
  animation-delay: 4.5s;
}


.first:last-child{
  margin-right: 0;
}

@keyframes waves {
  0%{
    transform: scaleY(1);
  }
  100%{
    transform: scaleY(7);
  }
}

@keyframes wrongCommand {
  0%{
    background-color: #ff000090;
    transform: scale(1);
    opacity: 0;
  }
  50%{
    background-color: #ff000090;
    transform: scale(3);
    opacity: 1;
  }
  100%{
    background-color: #ff000090;
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes correctCommand {
  0%{
    background-color: #00ff0090;
    transform: scale(1);
    opacity: 0;
  }
  50%{
    background-color: #00ff0090;
    transform: scale(3);
    opacity: 1;
  }
  100%{
    background-color: #00ff0090;
    transform: scale(1);
    opacity: 0;
  }
}

.speech-icon{
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* INFO CONTAINER ///////////////////////////////////////////////////// */

.info-title{
  color: #757575;
  font-size: 25px;
  margin-bottom: 20px;
}

.command-list{
  list-style-type: none;
}

.command-list-item{
  color: #000000;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.command-list-item:last-child{
  margin-bottom: 0;
}

.command-list-item span{
  font-size: 20px;
  background-color: #cbcbcb;
  color: #000000;
  border-radius: 10px;
  padding: 5px 10px;
  margin-right: 10px;
  width: 220px;
  display: block;
}

.command-list-item p {
  font-size: 18px;
  background-color: #ffffff;
  color: black;
  border-radius: 10px;
  padding: 5px 10px;
  width: 100%;
  max-width: 565px;
}

.tip{
  margin-top: 10px;
  font-size: 16px;
  color: #7c7c7c;
}